.table-files {
  max-height: 400px;
  overflow-y: auto;
} /* your styles go here */

.modal-date {
  width: 700px;
}

#id_chat {
  height: 70px;
  font-size: 65px;
  text-align: center;
}

.makeTree > .easytree-focused {
  border: none;
  font-size: 18px;
}

.repeated {
  height: 16px;
}

.btnAction {
  margin-left: 5px;
  height: 36px;
}

#dateFilter {
  width: 80px;
}

#chatFilter {
  width: 60px;
}

#attendantFilter {
  width: 150px;
}

#statusFilter {
  width: 150px;
}

#nameFilter,
#emailFilter {
  width: 200px;
}

#wrongIdChat,
.text-danger {
  color: red;
}

#example_wrapper {
  padding: 0px;
}

#example2_wrapper {
  padding: 0px;
}

a:link {
  text-decoration: none;
}

.row-card {
  margin-bottom: 10px;
}

.card-header {
  padding: 0.5rem !important;
  color: black;
}

.card-body {
  padding: 0.5rem !important;
}

/* Cosmetic only */
.easyPaginateNav {
  text-align: center;
}

.easyPaginateNav a {
  padding: 5px;
}

.easyPaginateNav a.current {
  font-weight: bold;
  text-decoration: underline;
}

.place_in_line {
  text-align: center;
  padding-left: 23px;
}

.colum_of_place {
  padding-left: 15px;
}

.nivel1 {
  display: flex;
  height: 78px;
}

.nivel2 {
  display: flex;
  height: 78px;
}

.second-ticket {
  margin-left: 15px;
}

.progress {
  height: 10px;
  width: 79px;
}

::-moz-progress-bar {
  background-color: #5bc0de;
}

#span-ticket-header {
  color: white;
}

#data-ticket-text {
  color: black;
}

.iframe-queue {
  margin-left: 7%;
}

.bold-text {
  font-weight: bold;
}

.ui-menu:hover,
.ui-menu-item:hover {
  background-color: none;
}

.to-print {
  display: none;
}

.rowForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-report-size {
  font-size: 2em;
}

.generate-report {
  width: 100%;
}

#title_of_report {
  margin-bottom: -5px;
}

#filter_period {
  margin-top: -5px;
}

#date_of_report {
  display: block;
  margin-top: -5px;
  margin-bottom: 35px;
}

#requester_of_report {
  display: block;
  margin-top: -5px;
}

#div-final-date {
  margin-left: 100px;
}

#div-initial-date {
  margin-left: -15px;
}

.hide {
  display: none;
}

#btn-modal {
  width: 100%;
}

.last-tickets {
  margin-left: 7px !important;
  max-width: 97% !important;
  margin-bottom: 0px !important;
}

.progresso {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  height: 90px;
  width: 120px;
}

#qtd-tickets {
  margin-top: -15px;
}

.card-in-ticket-list {
  border-radius: 0.25rem 0px 0px 0.25rem !important;
}

#conteudo {
  text-align: center;
}

.main-card {
  margin-top: 10px;
}

.main-card-title {
  padding-top: 5px;
}

.required {
  box-shadow: 0 0 3px #ff0000;
  border: 1px solid #ff0000;
}

#div-polar-chart {
  background-color: white;
  box-shadow: 5px 5px 15px 0.1px grey;
  padding: 10px;
}

.polar-group-1 {
  margin-left: 4%;
}

.polar-group-2 {
  margin-left: 7%;
}

.bar-tickets-in-week {
  background-color: #f3f7fa;
  box-shadow: 5px 5px 15px 0.1px grey;
  padding: 10px;
}

#bar-tickets-in-week-filter, #polar-modules-initial-filter, #polar-modules-final-filter, #line-tickets-in-month-filter, #bar-tickets-of-registry-initial-filter, #bar-tickets-of-registry-final-filter {
  width: 100%!important;
}

#polar-modules-form {
  margin-left: 2%;
}

#polar-modules-submit {
  margin-left: 7%;
}

#customers-in-reception {
  color: black;
  font-size: 18px;
}

.status-to-attendant {
  color: white;
}

.line-tickets-in-month, .bar-tickets-of-registry {
  box-shadow: 5px 5px 15px 0.1px grey;
  padding: 10px;
}

button[name=filter-to-bar-tickets-by-registry] {
  width: 100%;
}