.table-files {
    max-height:400px;
    overflow-y:auto;
}/* your styles go here */

.modal-date {
    width: 700px;
}

#id_chat {
	height: 70px;
    font-size: 65px;
    text-align: center;
}

.makeTree > .easytree-focused {
	border: none;
	font-size: 18px;
}

.repeated {
	height: 16px;
}

.btnAction {
	margin-left: 5px;
	height: 36px;
}

#dateFilter{
	width: 80px;
}

#chatFilter{
	width: 60px;
}

#attendantFilter{
	width: 150px;
}

#statusFilter{
	width: 150px;
}

#nameFilter, #emailFilter {
	width: 200px;
}

#wrongIdChat, .text-danger {
	color: red;
}

#example_wrapper {
	padding: 0px;
}

#example2_wrapper {
	padding: 0px;
}

a:link { 
	text-decoration:none; 
} 

.row-card{
	margin-bottom: 10px;
}

.card-header {
	padding: 0.50rem!important;
	color: black;
}

.card-body {
	padding: 0.50rem!important;
}

/* Cosmetic only */
.easyPaginateNav {
	text-align: center;
}

.easyPaginateNav a {
	padding: 5px;
}

.easyPaginateNav a.current {
	font-weight: bold;
	text-decoration: underline;
}

.place_in_line{
	text-align: center;
	padding-left: 23px;
}

.colum_of_place{
	padding-left: 15px;
}

.nivel1 {
	display: flex;
	height: 78px;
}

.nivel2 {
	display: flex;
	height: 78px;
}

.second-ticket {
	margin-left: 15px;
}

.progress {
	height: 10px;
	width: 79px;
}

::-moz-progress-bar {
  background-color: #5bc0de;
}

#span-ticket-header {
	color: white;
}

#data-ticket-text {
	color: black;
}

.iframe-queue {
	margin-left: 7%;
}

.bold-text {
    font-weight: bold;
}

.ui-menu:hover, .ui-menu-item:hover {
	background-color: none;
}

.to-print {
	display: none;
}

.rowForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-report-size {
	font-size: 2em;
}

.generate-report {
	width: 100%;
}

#title_of_report {
	margin-bottom: -5px;
}

#filter_period {
	margin-top: -5px;
}

#date_of_report {
	display: block;
	margin-top: -5px;
	margin-bottom: 35px;
}

#requester_of_report {
	display: block;
	margin-top: -5px;
}

#div-final-date {
	margin-left: 100px;
}

#div-initial-date {
	margin-left: -15px;
}

.hide {
	display: none;
}

#btn-modal {
	width: 100%;
}

.last-tickets {
	margin-left: 7px!important;
	max-width: 97%!important;
	margin-bottom: 0px!important; 
}

.progresso {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  height: 90px;
  width: 120px;
}

#qtd-tickets {
	margin-top: -15px;
}

.card-in-ticket-list {
	border-radius: .25rem 0px 0px .25rem!important;
}

#conteudo {
	text-align: center;
}