<IfModule mod_rewrite.c>
  RewriteEngine On

  	  RewriteRule ^dashboard/?$ dashboard/index.php [NC,L]


	  RewriteRule ^dashboard/administrativo/?$ dashboard/administrative.php [NC,L]

	  RewriteRule ^dashboard/tickets/?$ dashboard/ticket/view-all-ticket.php [NC,L]

	  RewriteRule ^dashboard/([a-z0-9-]+)/([0-9]+)/?$ dashboard/$1/ticket.php?id_chat=$2 [NC]

	  RewriteRule ^dashboard/ticket/novo-busca/?$ dashboard/ticket/view-new-find-ticket.php [NC]

	  
	  RewriteRule ^dashboard/user/novo/?$ dashboard/user/view-new-user.php [NC]


	  RewriteRule ^dashboard/cartorio/novo/?$ dashboard/registry/view-new-registry.php [NC]

	  RewriteRule ^dashboard/cartorios?$ dashboard/registry/view-all-registry.php [NC]


	  RewriteRule ^dashboard/usuarios?$ dashboard/user/view-all-user.php [NC]

	  RewriteRule ^dashboard/usuarios/novo?$ dashboard/user/view-new-user.php [NC]


	  RewriteRule ^dashboard/cadastros?$ dashboard/registration-forms/view-all-registration-forms.php [NC]

	  RewriteRule ^dashboard/cargos/novo?$ dashboard/registration-forms/view-new-role.php [NC]

	  RewriteRule ^dashboard/categorias-e-modulos/novo?$ dashboard/registration-forms/view-new-category-module.php [NC]


	  RewriteRule ^dashboard/fila-interna?$ dashboard/internal-row/view-internal-row.php [NC]


	  RewriteRule ^dashboard/autorizacoes?$ dashboard/authorization/view-all-authorization.php [NC]


	  RewriteRule ^dashboard/relatorios?$ dashboard/report/generate-report.php [NC]


	  RewriteRule ^dashboard/logout?$ utils/controller/ctrl_logout.php [NC]

</IfModule>